language: node_js
node_js:
- node
before_deploy:
- npm run build
deploy:
  skip_cleanup: true
  provider: npm
  email: marwaraboudi@gmail.com
  api_key:
    secure: DqrPrQHBg56xq3dJygQOBLqjP9rkzjw8t8hMf/DgacUe7ORSAVV0jV+hVyETHD3t0TTzOzdcPhNEWHu4rPwMxr5d+vwh/1UPMq+5ohWeAXsJO3buB+r+7DL6D5m2cuBYQvwSbo/s9XV+PF1TTMDE+ZXYdnJRY8Tb6/ouS1wyOHmucync6niKEVaV6hoqvzIJrpe4dDdU2qkfxxqoa7urlDTR2vatdvnWGVDmh3RYqidXTuwOziRJ5LmAKQJ2ZV/bcdg2HQIICBuLMbmfVIrkUiOQ0PAMJWZsGKVVmdwtE5FJ4cXHArx4mRk9n3LsRQocKtxV0+mnPr22bErVdmkar6LdxNNRzdzCMqetp5TgQvsIN0o/XievB3vczq5Z1K93UBW7emdkwgW6Ia72cXsUC0vkJBM++RjQaKJ7IvZwYoMl4vBAvUpZh4MNAaZ/kzE4I9NDGX1wS57cS5avYplUKEarNqd3tJtGGWe7udIPLNsrMuqKAo9X3/g/gwXHP7gmUEpu8MSmE2nuTsLZ+Dyue9/10zNcKEnL4t5hyj0vz6jCka2zuukDrtYAK4X3U2TOmpoFjZL9dNx40CtdV2tgOX5cR59I+KZpg3m1nwPsH0LrWZ9t5enBGx6fMY2u/c/kgu0FShoUnB7Fcl+spVvsgN+N5k0D5v5rgxQBnAaGgQ0=
  on:
    tags: true
    repo: marwaRaboudi/map
